{% extends 'base/base.html' %}
{% block title %}My blogs{% endblock %}

{%block css %}

{% endblock %}

{%block content %}
    <h1><a href="/">My blogs</a></h1>
    <div>
        <p>published: 382983948094</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, cum dolore quibusdam porro repudiandae soluta ipsa eos, doloremque temporibus, amet enim? Porro facere totam iure amet possimus rerum molestiae magnam!</p>
    </div>
{% endfor %}
{%endblock %}


{% block js %}


{%endblock %}